gpytorch_tutorials
notebooks/*.ipynb_checkpoints
__pycache__
tests/*.sh
experiments/LeNet/scratch
experiments/LeNet/data
experiments/bunny/bunny_data
directionalvi/test
experiments/synthetic/synthetic.py
tests/slurm_output
