gpytorch_tutorials
notebooks/*.ipynb_checkpoints
__pycache__
experiments/LeNet/scratch
slurm_output
experiments/logs/a.*
experiments/real_data_process/lenet/scratch
experiments/real_data
experiments/.ipynb_checkpoints
experiments/synthetic/wandb
experiments/synthetic/postprocess/
*.ipynb
experiments/*.sub
experiments/*-copy.py
experiments/synthetic/*.exp*
experiments/synthetic/*.sub
experiments/synthetic/camel_data
experiments/bunny/wandb
experiments/bunny/results
experiments/lenet_bo
directionalvi/directional_vi-fixed_inducing.py
experiments/GNN_bo/results
experiments/GNN_bo/runlogs
experiments/GNN_bo/plots
experiments/GNN_bo/GCN/data
